@use "../../global/colors";

.products {
  background-color: colors.$lightgrey;
  padding-bottom: 100px;

  &__btn {
    margin-top: 50px;
  }
}

.products-mobal {
  background-color: colors.$lightgrey;
  margin-bottom: 21px;

  &__title {
    margin-bottom: 12px;
  }
}
