@use "../../global/colors";

.products {
  min-height: 782px;
  background-color: colors.$lightgrey;

  // &__cards {
  //   display: block;
  // }

  &__btn {
    margin-top: 50px;
    margin-bottom: 100px;
  }
}
