@use "./src/global/fonts";
@use "./src/global/colors";
// @use "./src/global/mixins/base-font";

* {
  box-sizing: border-box;
}

body {
  // @include base-font.baseFont;
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: colors.$black;
  line-height: 1.6;
}

.general {

  width: 1920px;
  display: flex;
  padding-left: 60px;
  padding-right: 60px;
  justify-content: space-between;
  align-items: center;
}