@use "./src/global/fonts";
@use "./src/global/colors";
@use "./src/global/display";
@use "./src/global/format";

* {
  box-sizing: border-box;
}

body {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: colors.$black;
  line-height: 1.6;
  letter-spacing: 0.32px;
}
