@use "./src/global/fonts";
@use "./src/global/colors";

* {
  box-sizing: border-box;
}

body {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: colors.$black;
  line-height: 1.6;
}

.general {
  max-width: 1920px;
  width: 100vw;
  display: flex;
  padding-left: 60px;
  padding-right: 60px;
  justify-content: space-between;
  align-items: center;
}
