@use "../../global/colors";

.banner__btn {
  width: 270px;
  height: 60px;
  border-radius: 100px;
  flex-shrink: 0;
  font-size: 16px;
  font-weight: 900;
  color: colors.$font;
  background: colors.$white;
  border: none;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
  transition: 1s;

  &:hover {
    transform: scale(1.1);
  }
}

.btn-wt {
  border-radius: 100px;
  flex-shrink: 0;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.38px;
  color: colors.$green;
  background: colors.$white;
  border: 1px solid colors.$green;
  cursor: pointer;

  @media (max-width: 768px) {
    font-size: 12px;
    letter-spacing: 0.24px;
  }

  &:hover {
    color: colors.$white;
    background: colors.$green;
    border: none;
  }
}

.btn-gr {
  border-radius: 100px;
  flex-shrink: 0;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.38px;
  color: colors.$white;
  background: colors.$green;
  border: none;
  cursor: pointer;

  @media (max-width: 768px) {
    font-size: 12px;
    letter-spacing: 0.24px;
  }

  &:hover {
    color: colors.$green;
    background: colors.$white;
    border: 1px solid colors.$green;
  }
}

.btn-120 {
  width: 120px;
  height: 40px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.24px;
}

.btn-170 {
  width: 170px;
  height: 50px;
}

.btn-180 {
  width: 180px;
  height: 30px;
}

.btn-220 {
  width: 220px;
  height: 40px;
}

.btn-240 {
  width: 240px;
  height: 30px;
}

.btn-240-fs16 {
  width: 240px;
  height: 40px;
  font-size: 16px;
  letter-spacing: 0.32px;
}

.btn-270 {
  width: 270px;
  height: 50px;
}

.btn-270-label {
  width: 270px;
  height: 50px;
}

.btn-280 {
  width: 280px;
  height: 50px;
}
