@font-face {
  font-family: Gotham Pro;
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/Gotham Pro-light.ttf");
}

@font-face {
  font-family: Gotham Pro;
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/Gotham Pro-bold.ttf");
}

@font-face {
  font-family: Gotham Pro;
  font-weight: 900;
  font-style: normal;
  src: url("/fonts/Gotham Pro-black.ttf");
}
