@use "../global/colors";

.banner__btn {
  width: 270px;
  height: 60px;
  border-radius: 100px;
  flex-shrink: 0;
  font-size: 16px;
  font-weight: 900;
  color: colors.$font;
  background: colors.$white;
  border: none;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
  transition: 1s;

  &:hover {
    transform: scale(1.1);
  }
}

.btn-wt {
  border-radius: 100px;
  flex-shrink: 0;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.38px;
  color: colors.$green;
  background: colors.$white;
  border: 1px solid colors.$green;
  cursor: pointer;

  &:hover {
    color: colors.$white;
    background: colors.$green;
    border: none;
  }
}

.btn-gr {
  border-radius: 100px;
  flex-shrink: 0;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.38px;
  color: colors.$white;
  background: colors.$green;
  border: none;
  cursor: pointer;

  &:hover {
    color: colors.$green;
    background: colors.$white;
    border: 1px solid colors.$green;
  }
}

.btn-120 {
  width: 120px;
  height: 40px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.24px;
}

.btn-170 {
  width: 170px;
  height: 50px;
}

.btn-220 {
  width: 220px;
  height: 40px;
}

.btn-270 {
  width: 270px;
  height: 50px;
}

.btn-280 {
  width: 280px;
  height: 50px;
}

a {
  text-decoration: none;
  color: inherit;
}

.text-center {
  text-align: center;
}

.text-up {
  text-transform: uppercase;
}

.text-center-up {
  text-align: center;
  text-transform: uppercase;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-left {
  display: flex;
  justify-content: left;
}

.align-center {
  align-items: center;
}

.content-center {
  justify-content: center;
}

.general {
  max-width: 1920px;
  width: 100%;
  padding-left: 60px;
  padding-right: 60px;
  margin: 0 auto;
}

.section-title {
  color: colors.$black;
  margin: 85px 12px -12px;
}

.section-title-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
