@use "./colors";

a {
  text-decoration: none;
  color: inherit;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.general {
  max-width: 1920px;
  width: 100%;
  display: flex;
  padding-left: 60px;
  padding-right: 60px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
