@use "../../global/colors";

.title {
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 3.2px;
  color: colors.$white;
}

.title-mobal {
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 1.6px;
  color: colors.$white;
  @media (min-width: 390px) {
    font-size: 28px;
  }
  @media (min-width: 540px) {
    font-size: 36px;
  }
  @media (min-width: 650px) {
    font-size: 40px;
  }
}

.title-h3 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.48px;
}

.title-h3-modal {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.32px;
}

.title-h4 {
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 1.6px;
}

.title-h4-mobal {
  font-weight: 900;
  letter-spacing: 0.96px;
}

.title-h5 {
  font-weight: 900;
  letter-spacing: 1.28px;
}

.title-h5-mobal {
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 1.12px;
}

.title-h6-mobal {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.28px;
}

.topline-text {
  font-size: 14px;
  color: colors.$white;
  letter-spacing: 0.28px;
}

.menu-text {
  font-weight: 700;
  color: colors.$font;
  letter-spacing: 0.32px;
}

.menu-text-modal {
  color: colors.$font;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.24px;
}

.banner__text {
  font-size: 22px;
  letter-spacing: 0.44px;
  color: colors.$white;
}

.banner-mobal__text {
  font-size: 16px;
  letter-spacing: 0.32px;
  color: colors.$white;

  @media (min-width: 390px) {
    font-size: 18px;
  }
  @media (min-width: 540px) {
    font-size: 20px;
  }
  @media (min-width: 650px) {
    font-size: 22px;
  }
}

.small-text {
  font-size: 12px;
  letter-spacing: 0.24px;
}

.breakcrumbs-mobal {
  font-size: 9px;
  letter-spacing: 0.18px;
}

.footer-text {
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.28px;
  color: colors.$white;
}

.footer-text-mobal {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.24px;
  color: colors.$white;
}

.last-price {
  text-decoration: line-through;
  color: colors.$red;
}

.new-price {
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 0.48px;
  color: colors.$black;
}

.open-accordion {
  text-align: right;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.48px;
  color: colors.$green;
}
