@use "../../global/colors";

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: colors.$white;
  border-radius: 10px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  width: 270px;
  height: 380px;

  margin-top: 41px;

  &__title {
    width: 220px;
    padding-top: 33px;
    padding-bottom: 32px;
    & span {
      color: colors.$green;
    }
  }

  &__img {
    position: relative;

    &--milk {
      position: absolute;
      z-index: 21;
      top: 0;
      left: 0;
    }
  }

  &__btn {
    padding-top: 42px;
    padding-bottom: 20px;
  }
}
