@use "../../global/colors";

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: colors.$white;
  border-radius: 10px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  width: 270px;
  height: 380px;
  padding-top: 33px;
  margin-top: 41px;
  position: relative;

  &__title {
    width: 220px;
    & span {
      color: colors.$green;
    }
  }

  &__btn {
    margin-bottom: 20px;
  }

  &__milk {
    position: absolute;
  }

  &__clover {
    position: absolute;
  }
}
