@use "../../global/colors";

.story {
  min-height: 1252px;
  background-color: colors.$green;
  background-position: center;
  background-size: cover;
  position: relative;
  padding-bottom: 70px;

  &__vector1 {
    position: absolute;
    top: 106px;
    left: 115px;
  }

  &__vector2 {
    position: absolute;
    top: 770px;
    left: 116px;
  }

  &__vector3 {
    position: absolute;
    top: 499px;
    right: 123px;
  }

  &__delta-lf {
    max-width: 445px;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
  }
  &__delta-rt {
    max-width: 445px;
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &__sect-title {
    margin: 85px 12px -12px;
  }

  &__artical {
    background-color: colors.$white;
    margin-top: 42px;
    border-radius: 10px;
    padding: 28px 30px 30px;
    position: relative;
  }

  &__foto {
    display: block;
    margin: 0 auto;
    padding-bottom: 36px;
  }

  &__title {
    padding-bottom: 29px;
  }

  &__text {
    text-align: left;
    letter-spacing: 0.4px;
    padding-bottom: 31px;
  }

  &__btn {
    margin-top: 15px;
  }
}
