@use "../../global/colors";

.header {
  &__topline {
    background: colors.$blue;
    height: 50px;

    &--social {
      width: 119px;
    }

    &--contact {
      display: flex;
      gap: 40px;
    }

    &--address {
      width: 265px;
    }

    &--phone {
      width: 165px;
    }
  }

  &__menu {
    background: colors.$white;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
    height: 100px;
    gap: 89px;

    &--nav {
      width: 1048px;
    }

    &--item:hover {
      color: colors.$green;
    }

    &--option {
      gap: 40px;
      margin-left: 86px;
    }
  }
}
