@use "../../global/colors";

.carousel {
  height: 881px;
  padding-left: 0;
  padding-right: 0;

  &__slider {
    max-height: 578px;
    height: 100%;
    margin-top: 54px;
    margin-bottom: 100px;
  }

  &__img {
    width: 100%;
    height: auto;
  }
}
.carousel-mobal {
  &__slider {
    margin-top: 16px;
    margin-bottom: 33px;
  }
}
