@use "../../global/colors";

.footer {
  display: flex;
  background-color: colors.$blue;
  min-height: 308px;
  padding-bottom: 40px;

  &__logo {
    margin-top: 6px;
    margin-right: 10px;
  }

  &__copy-write {
    opacity: 0.5;
    margin-top: 103px;
    margin-left: -5px;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    gap: 130px;
    justify-content: space-around;
    color: colors.$white;
    margin-top: 53px;
  }

  &__title {
    padding-bottom: 11px;
  }
}
