@use "../../global/colors";

.mission {
  min-height: 625px;
  background-color: colors.$white;
  max-width: 1920px;
  margin: 0 auto;
  padding-left: 60px;
  padding-right: 60px;

  &__title {
    color: colors.$black;
    margin: 85px 12px -12px 12px;
  }

  &__foto {
    padding-top: 40px;
    // @media screen and (max-width 1205px) {
    //     margin: 0 auto;
    //   }
  }

  &__text {
    margin-left: -27px;
    margin-top: 120px;
    // @media screen and (max-width 1205px) {
    //   margin-top: 10px;
    // }
  }

  &__text-title {
    background-color: colors.$blue;
    color: colors.$white;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 21px;
  }

  &__text-apostrof {
    padding-right: 20px;
    padding-left: 30px;
  }

  &__text-article {
    background-color: colors.$green;
    color: colors.$white;
    padding: 21px 30px;
    letter-spacing: 0.32px;
  }
}
