@use "../../global/colors";

.banner {
  max-width: 1920px;
  width: 100vw;
  height: 570px;
  background-image: url(../../../images/banner.png);
  background-size: auto;
  overflow: hidden;
  position: relative;

  &__title {
    padding-top: 115px;
  }
  span {
    background: colors.$blue;
    vertical-align: baseline;
    height: 48px;
    margin-left: -14px;
    margin-right: -5px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
