@use "../../global/colors";

.banner {
  max-width: 1920px;
  width: 100%;
  height: 570px;
  background-image: url(../../../images/banner-cover.png);
  background-size: auto;
  overflow: hidden;
  position: relative;

  &__mask {
    position: absolute;
    left: 380px;
  }
  &__title {
    padding-top: 115px;
  }
  span {
    background: colors.$blue;
    vertical-align: baseline;
    height: 48px;
    margin-left: -12px;
    margin-right: -12px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
