@use "../../global/colors";

.banner {
  height: 570px;
  background-image: url(../../../images/banner/banner.png);
  background-position: center;

  &__title {
    padding-top: 92px;
    padding-left: 11px;
  }

  span {
    background: colors.$blue;
    vertical-align: baseline;
    margin-left: -11px;
    margin-right: -8px;
    padding-left: 10px;
    padding-right: 7px;
    padding-top: 3px;
  }

  &__trigger-text {
    padding-left: 11px;
  }

  &__text-tr1 {
    padding-top: 26px;
  }

  &__text-tr2 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__text-tr3 {
    padding-bottom: 40px;
  }

  &__trigger-img {
    padding-right: 7px;
  }
}

.banner-mobal {
  max-width: 768px;
  height: auto;

  &__img {
    width: 100%;
  }

  &__h1 {
    margin-top: -6px;
    background-color: colors.$blue;
    padding-top: 17px;
    padding-bottom: 10px;
  }

  &__sp1 {
    background-color: colors.$green;
    padding-left: 5px;
    padding-right: 2px;
    margin-right: -2px;
  }
  &__sp2 {
    padding-left: 5px;
  }
  &__trigger {
    background-color: colors.$green;
    padding-top: 13px;
    padding-bottom: 10px;
  }

  &__content {
    padding-left: 3px;
  }
}
